<div class="wrapper">
    <form class="form-signin" ng-submit="loginCtrl.loginPwd()">
        <h2 class="form-signin-heading">Login to PETZO</h2>
        <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required="" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <span class="psw">No account yet? <a ui-sref="register">Sign Up</a></span>
    </form>
</div>