<div class="wrapper">
    <form class="form-signup form-horizontal" ng-submit="loginCtrl.loginPwd()">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Sign Up</h1>
                </div>
                <div class="col-md-12">
                    <p>Please fill in this form to create an account.</p>
        
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="col-md-6 col-xs-10">
                        <div class="form-group">
                            <label for="email"><b>Email</b></label>
                            <input type="text" class="form-control" placeholder="Enter Email" name="email" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 col-xs-10">
                        <div class="form-group">
                            <label for="psw"><b>Password</b></label>
                            <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6 col-xs-10">
                        <div class="form-group">
                            <label for="psw-repeat"><b>Repeat Password</b></label>
                            <input type="password" class="form-control" placeholder="Repeat Password" name="psw-repeat" required>
                        </div>
                    </div>
                </div>
            </div>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <div class="clearfix">
                <button type="button" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>